@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: rgb(248, 230, 206);
  height: 70vh;
  
}

.Containner {
  background-color: rgb(252, 249, 243);
  text-align: center;
  text-justify: center;
  height: 14.2em;
  width: 30rem;
  margin: 5rem auto;
  box-shadow: 0rem 0.2rem 1px rgb(247, 242, 234);
  border-radius: .2em;
  position: relative;
}

.hole-container{
  display: flex;
  flex-direction: row;
  /* margin-top: 2rem; */
  gap: 1rem;
  /* position: relative; */
  position: absolute;
  right: 1.1rem;
  top: 0.28rem
}

.hole{
  background-color:  rgb(252, 249, 243);
  box-shadow: 0.02rem -0.03rem 0.3px rgb(255, 246, 233);
  width: .7rem;
  height: .7rem;
  border-radius: 100%;
}



h1{
  font-size: 4rem;
  color:rgb(255, 251, 235);
  text-shadow: 2px 2px 0.5px #edecce;
  padding-top: 0.8rem;
  background-image: linear-gradient(306deg ,rgb(214, 144, 38) , rgb(245, 171, 44));
}

.todo-list{
  font-size: .7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1rem solid red;
  border-bottom: 1rem; */
  padding: .09rem 5rem;
  background-color:  rgb(255, 250, 241);
  box-shadow: 0rem 0.2rem 0.4px rgba(198, 132, 25, 0.704);
  height: 6em;
  margin-bottom: -1.8em;
  color: #3a3a3a;
}


.todo-list:hover{
  transition: transform .05s;
  transform: scale(1.05);
  border-color: rgb(232, 186, 18);
  border-left-style: solid;
  border-width: 1.2em;
}

input{
  text-align: center;
  width: 15rem;
  height: 2rem;
  border-radius: 2rem;
  border: 0.09rem solid black;
}

button{
  /* opacity: 15rem; */
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  /* border: none; */
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  left: 21rem;
  border: 0.09rem solid black;
}

button:hover{
  cursor : pointer;
  background-color: rgb(255, 200, 59);
  color: rgb(0, 0, 0);
}

.button-contianer{
  font-size: 1.05rem;
  margin: 0.2rem;
}

.button-contianer:hover{
  cursor : pointer;
}

.form-control{
  position: relative;
}


h5{
  /* border: 0.2rem solid blue; */
  position: absolute;
  right: 12.7rem;
  bottom: 1rem;
  color: red;
}



